{% load widget_tweaks %}

<form action="{{ action_url }}" method="{{ form_method }}">
    {% csrf_token %}

    {% for error in form.non_field_errors %}
        <p class="form-text text-danger mb-2">{{ error }}</p>
    {% endfor %}

    {% for field in form %}
        {% with field|widget_type as widget_type %}
            {% if widget_type == 'checkboxinput' %}
                {% include 'partial/form_fields/check.html' %}
            {% elif widget_type == 'radioselect' %}
                {% include 'partial/form_fields/multiple_check.html' %}
            {% elif widget_type == 'checkboxselectmultiple' %}
                {% include 'partial/form_fields/multiple_check.html' %}
            {% elif widget_type == 'fileinput' %}
                {% include 'partial/form_fields/file.html' %}
            {% elif widget_type == 'clearablefileinput' %}
                {% include 'partial/form_fields/file.html' %}
            {% else %}
                {% include 'partial/form_fields/default.html' %}
            {% endif %}
        {% endwith %}
    {% endfor %}

    <button type="submit" class="btn btn-primary">{{ button_text|default:"Submit" }}</button>
</form>
