{% load staticfiles %}
{% load widget_tweaks %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Опросы{% endblock %}</title>

    {% include 'partial/base/links.html' %}
    {% block links %}{% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url "index" %}">Опросы</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url "poll_add" %}">Добавить опрос</a></li>
                    {% block menu %}{% endblock %}
                </ul>
                {% block search %}
                    {% if search_form %}
                        <form class="form-inline my-2 my-lg-0" action="#" method="GET">
                            {{ search_form.search|add_class:"form-control mr-sm-2" }}
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
                        </form>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </nav>
</header>
<div class="container my-3">
    {% block content %}{% endblock %}
</div>
{% include 'partial/base/scripts.html' %}
{% block scripts %}{% endblock %}
</body>
</html>
