{% extends 'base.html' %}

{% block title %}Опрос{% endblock %}

{% block menu %}
    <li class="nav-item"><a href="{% url 'poll_detail' poll.pk %}" class="nav-link">Назад</a></li>
{% endblock %}

{% block content %}
    <div class="card my-3">
        <div class="card-body">
            <h1 class="card-title h3">{{ poll.text }}</h1>
            <p class="card-subtitle my-3 text-muted">Создан: {{ poll.created_at|date:"Y-m-d H:i:s" }}</p>

            {% with poll.choices.all as choices %}
                {% if choices %}
                    <form action="{% url 'answer_create' poll.pk %}" method="post">
                        {% csrf_token %}
                        <h3 class="h5">Варианты ответа:</h3>
                        <div class="form-group">
                            {% for choice in choices.all %}
                                <div class="form-check">
                                    <input id="choice-{{ choice.pk }}" name="choice" type="radio"
                                           value="{{ choice.pk }}" class="form-check-input"
                                           {% if forloop.counter0 == 0 %}checked{% endif %}/>
                                    <label for="choice-{{ choice.pk }}" class="form-check-label">{{ choice }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </form>
                {% else %}
                    <h3 class="h5">Нет вариантов ответа</h3>
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}
