{% load widget_tweaks %}

<div class="form-group {% block group_class %}{% endblock %}">
    {% block before_label %}{% endblock %}
    <label for="{{ field.id_for_label }}"
           class="{% if field.errors %}text-danger{% endif %} {% block label_class %}{% endblock %}">
        {{ field.label }}
        {% if field.field.required %}<span class="font-weight-bold text-danger">*</span>{% endif %}
    </label>
    {% block after_label %}{{ field|add_class:'form-control'|add_error_class:'is-invalid' }}{% endblock %}
    {% for error in field.errors %}
        <small class="form-text text-danger">{{ error }}</small>
    {% endfor %}
    {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
</div>
